.sitemap > ul, li {
    margin: 0;
    padding: 0;
  }
  
  .sitemap > li > ul {
    margin-top: 1.5rem;
  }
  
  .sites > ul {
    list-style: none;
  }
  .sites > ul  li {
    line-height: 1.5rem;
    vertical-align: top;
    position: relative;
  }
  .sites > ul li a {
    text-decoration: none;
    color: #f80;
    display: inline-block;
  }
  .sites > ul ul {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .sites > ul ul li {
    position: relative;
  }
  .sites > ul ul li::before {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 100%;
    border-left: 1px #ccc solid;
    position: absolute;
    top: -0.75rem;
  }
  .sites > ul ul li::before {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    border-bottom: 1px #ccc solid;
    position: absolute;
    top: -0.75rem;
  }
  .sites > ul ul li a {
    margin-left: 3.75rem;
  }