.scrollToTop{background-color:#8cd083; color:#fff}
.scrollToTop:hover, .scrollToTop:focus{background-color:#fff; color:#8cd083; border-color:1px solid #8cd083}
.logo > span{color:#8cd083}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{background-color:#86d083}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color:#a8d083}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#83d087}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#86d083}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#a2d083}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#9bd083}
.latest_newsarea span{background:none repeat scroll 0 0 #86d083}
.latest_post > h2 span{background:none repeat scroll 0 0 #83d087}
#prev-button{color:#8cd083}
#next-button{color:#8cd083}
.single_post_content > h2 span{background:none repeat scroll 0 0 #8cd083}
.single_sidebar > h2 span{ background:none repeat scroll 0 0 #8cd083}
.bsbig_fig figcaption a:hover{color:#8cd083}
.spost_nav .media-body > a:hover{color:#8cd083}
.cat-item a:hover{background-color:#8cd083}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#8ad083}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#8cd083}
.single_sidebar > ul > li a:hover{color:#95d083}
.footer_widget > h2:hover{color:#8cd083}
.tag_nav li a:hover{color:#8cd083; border-color:#8cd083}
.copyright a:hover{color:#8cd083}
.post_commentbox a:hover, .post_commentbox span:hover{color:#8cd083}
.breadcrumb{border-left:10px solid #8cd083}
.single_page_content ul li:before{background-color:#8cd083}
.single_page_content h2, .single_page_content h3, .single_page_content h4, .single_page_content h5, .single_page_content h6{color:#8cd083}
.nav-slit .icon-wrap{background-color:#8cd083}
.nav-slit h3{background:#8cd083}
.catgArchive{background-color:#8cd083}
.error_page > h3{color:#8cd083}
.error_page > span{background:none repeat scroll 0 0 #8cd083}
.error_page > a{background-color:#8cd083}
.contact_area > h2{background-color:#8cd083}
.contact_form input[type="submit"]{background-color:#8cd083}
.contact_form input[type="submit"]:hover{background-color:#fff; color:#8cd083}
.related_post > h2 i{color:#8cd083}
.form-control:focus{border-color:#8cd083;  box-shadow:0 0px 1px #8cd083 inset,0 0 5px #8cd083}
/** hidden search field **/
#searchbar {
    display: none;
    float: left;
    width: 100%;
    height: 32px;
    border-top: 1px solid #d8d8d8;
    padding-left: 25px;
    padding-right: 10px;
    z-index: 9999;
    background: #333;
  }
  
  #s {
    display: block;
    width: 95%;
    border: 0;
    outline: none;
    padding: 0;
    height: 30px;
    line-height: 60px;
    color: #fff;
    background-color: #333;
  }
  
  #searchsubmit {
    display: block;
    float: right;
    margin-top: 6px;
    background: none;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
  }